* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.green {
  background-color: #48bc45;
}

.green--text {
  color: #48bc45;
}

.container {
  position: relative;
  width: 80%;
  margin: auto;
  min-width: 800px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

.big-title {
  margin-top: 30px;
}

.small-title {
  padding: 5px 10px;
}

.routes {
  margin-top: 20px;
}

.details {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.route {
  padding: 8px;
}

.route .title {
  padding: 14px 0;
}

.description {
  padding: 16px 0;
}

.description .text {
  color: #333;
}

.url {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.headers {
  margin-top: 16px;
}

.headers .header {
  padding: 8px 0;
}

.headers .title {
  border-bottom: 1px solid #aaa;
}

.headers .body {
  padding: 16px;
}

.headers .body label {
  font-weight: bold;
}

.headers .body .option {
  padding: 8px 0;
}

.chip {
  padding: 3px 6px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #f5f5f5;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: normal;
  text-align: left;
}

td, th {
  padding: 14px;
}

table thead tr {
  border-bottom: 1px solid #000;
}

table tr {
  border-bottom: 1px solid #aaa;
}